<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


	<bean id="person" class="com.wenliuz.beans.Person">
		<!-- 控制调用setAxe()方法，将容器中axe Bean作为传入参数 -->
		<property name="axe" ref="axe"/>
	</bean>
	<bean id="student" class="com.wenliuz.beans.Student"/>
	<bean id="axe" class="com.wenliuz.beans.Axe"/>



	<!-- 配置名为win的Bean，其实现类是javax.swing.JFrame类 -->
	<bean id="win" class="javax.swing.JFrame"/>
	<!-- 配置名为date的Bean，其实现类是java.util.Date类 -->
	<bean id="date" class="java.util.Date"/>
</beans>
